<div class="flex flex-col flex-auto min-w-0">

    <!-- Header -->
    <div class="flex flex-col sm:flex-row flex-0 sm:items-center sm:justify-between p-6 sm:py-8 sm:px-10 border-b bg-card dark:bg-transparent">
        <div class="flex-1 min-w-0">
            <!-- Breadcrumbs -->
            <div class="flex flex-wrap items-center font-medium">
                <div>
                    <a class="whitespace-nowrap text-primary-500">User Interface</a>
                </div>
            </div>
            <!-- Title -->
            <div class="mt-2">
                <h2 class="text-3xl md:text-4xl font-extrabold tracking-tight leading-7 sm:leading-10 truncate">
                    Angular Material
                </h2>
            </div>
        </div>
    </div>

    <!-- Main -->
    <div class="flex-auto p-6 sm:p-10">

        <div class="max-w-3xl prose prose-sm">

            <p>
                Fuse uses
                <a
                    class="link"
                    href="https://material.angular.io/components/categories"
                    rel="noreferrer"
                    target="_blank">Angular Material
                </a>
                as its primary user interface library. It offers form controls,
                buttons, tabs, sidebars, icons, modals, tooltips, data tables and many more well tested and
                widely used components.
            </p>
            <p>
                Even though Fuse doesn't follow Google's Material design specifications, Angular Material
                is one of the best Angular component libraries out there and since it's developed and maintained
                by Google itself, it offers the best compatibility and support for Angular.
            </p>
            <p>
                Fuse is 100% compatible with all Angular Material components.
            </p>

            <h2>Component examples and API documentation</h2>
            <p>
                Because it makes this demo app very heavy and unusable, we don't showcase any of the components
                within this demo. It also makes it harder for us to upgrade to the latest version of the Angular
                Material whenever there is a new version, simply because we have to update all the component demos
                as well, and it's not an easy task.
            </p>
            <p>
                With that being said, you should always refer to the official docs, they always have the latest version
                up and running so you won't end up with an outdated examples and/or API documentation.
            </p>

            <h2>Official docs</h2>
            <p>
                Angular Material examples and API documentation:
                <a
                    class="link"
                    href="https://material.angular.io/components/categories"
                    rel="noreferrer"
                    target="_blank">https://material.angular.io/components/categories
                </a>
            </p>
        </div>

    </div>

</div>
